body{ padding:none;
    margin:0;
    margin-left:initial;
      background-color: #F0F0F0;
      font-family: Helvetica;
      font-weight:bold;
      font-size:15px;
  }
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #E8E8E8;
      padding: 0px 30px;}
  .menu {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
    }
      
   .menu li {
      padding: 0;
      margin-top: 0;
    }
     .menu li a {
      padding-inline-start:10px;
      padding-block-end: 5px;
      text-decoration: none;
      color: black;
      transition: color 0.3s;
    }
    .menu li a:hover {
      color:#FA9C04;
    }
    .cs{ 
      margin-left:110px;
  margin-right:150px;
color:#FA9C04};
    .lnt{margin-left:200px;
      margin-right:150px;}
      .ind{margin-left: 180px;
          margin-right: 150px;}
          .cn{margin-left: 100px;
              margin-right: 100px;}
.chi{
    font-size: 25px;
font-weight: bolder;
color: black;
margin-top: 90px;
margin-left: 90px;}
.titolo{margin-top:0px;
    margin-left:90px;
   font-size: 20px;
   color:#FA9C04;
}
.start{display: flex;}
.f1{margin-left: 300px;}
.freq{margin-left:90px;
margin-top: 50px;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-right: 0px;
}
.box {
  display: flex;
  margin-left: 90px;
}
.desc{font-size:20px;
font-weight: 300;}
.n2{margin-top: 50px;}
.n3{margin-top: 50px;}
.n4{margin-top: 50px;}
.dr{margin-top: 50px;
color:#FA9C04;
font-weight: 400;}
.pic{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
}
.pic1 {
  margin-bottom: 10px; 
margin-right: 50px;}
.pic2{
  margin-right: 300px;}
  .footer{
    padding-top: 5px;
    background-color: #E8E8E8;
  margin-top: 70px;
  font-size: 10px;
  font-weight: 100;
  padding-bottom: 4px;
  }
  .info{display: flex;}
  .home{
    margin-left:5px;
    width: 25px;}
    .call{
      margin-left:50px;
      width: 21px;}
      .copy{ margin-left:50px;
        margin-top: 0px;
      line-height: 20px;}
   
