body{ padding:none;
    margin:0;
    margin-left:initial;
      background-color: #F0F0F0;
      font-family: Helvetica;
      font-weight:bold;
      font-size:15px;
  }
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #E8E8E8;
      padding: 0px 30px;}
  .menu {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
    }
      
   .menu li {
      padding: 0;
      margin-top: 0;
    }
     .menu li a {
      padding-inline-start:10px;
      padding-block-end: 5px;
      text-decoration: none;
      color: black;
      transition: color 0.3s;
    }
    .menu li a:hover {
      color:#FA9C04;
    }
    .cs{ 
        margin-left:110px;
    margin-right:150px;
  };
      .lnt{margin-left:200px;
        margin-right:150px;
        }
        .ind{margin-left: 180px;
            margin-right: 150px;}
            .cn{margin-left: 100px;
                margin-right: 100px;}
                .trasm{
                    font-size: 25px;
                font-weight: bolder;
                color: black;
                margin-top: 120px;
                margin-left: 120px;}
                .titolo{margin-top:0px;
                    margin-left:120px;
                   font-size: 20px;
                   color:#FA9C04;
                }
   .palinsesto{background-color: #E8E8E8;
                margin: 0px;
                padding:20px}
                .par1{font-size: 15px;
                font-weight: 300;
            margin-left: 100px;}
                .click{
                    margin-left: 90px;
                    margin-top:20px;
                    padding: 0;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #01ACAC;
                    border: none;
                    border-radius: 50px;
                    padding: 15px 40px;
                    cursor: pointer;
                    transition: background-color 0.2s ease;}
                .click span {
                  color: white;
                  margin-right: 10px;
                  font-size: 18px;
                font-weight: 600;}
            .click:hover {
              background-color: darkcyan;}
              .prima{ display: flex;
            margin-left:60px;
            justify-content: space-between;}
            .button{display: flex;
                margin-left:120px;
                margin-right: 60px;
                justify-content: space-between;
            margin-top: 0;
          }
                .button1{
                    padding: 0;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color:#FA9C04;
                    border: none;
                    border-radius: 50px;
                    padding: 15px 40px;
                    cursor: pointer;
                    position:absolute;
                    top:94%;
                    left:43%;
                    transition: background-color 0.2s ease;}
                    .button1 span{color: white;
                        margin-right: 10px;
                        font-size: 18px;
                      font-weight: 600; }
                      .button1:hover {
                        background-color: darkorange;}
             .button2{ padding: 0;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color:#FA9C04;
                border: none;
                border-radius: 50px;
                padding: 15px 40px;
                cursor: pointer;
                position:absolute;
                    top:94%;
                    left:8%;
                
                transition: background-color 0.2s ease;}
                .button2 span{color: white;
                    margin-right: 10px;
                    font-size: 18px;
                  font-weight: 600; }
                  .button2:hover {
                    background-color: darkorange;}
              .button3{ padding: 0;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color:#FA9C04;
                        border: none;
                        border-radius: 50px;
                        padding: 15px 40px;
                        cursor: pointer;
                        transition: background-color 0.2s ease;
                        position:absolute;
                        top:94%;
                        left:77%;
                    }
                        .button3 span{color: white;
                            margin-right: 10px;
                            font-size: 18px;
                          font-weight: 600; }
                          .button3:hover {
                            background-color: darkorange;}
          .seconda{ display: flex;
                              margin-left:60px;
                              justify-content: space-between;
                            margin-top: 60px;}
                              .IIbutton{display: flex;
                                margin-left:120px;
                                margin-right: 60px;
                                justify-content: space-between;
                            margin-top: 0;}
                                .button4{  position:absolute;
                                  top:145%;
                                  left:10%;              
                                    padding: 0;
                                    box-sizing: border-box;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background-color:#FA9C04;
                                    border: none;
                                    border-radius: 50px;
                                    padding: 15px 40px;
                                    cursor: pointer;
                                    transition: background-color 0.2s ease;}
                                    .button4 span{color: white;
                                        margin-right: 10px;
                                        font-size: 18px;
                                      font-weight: 600; }
                                      .button4:hover {
                                        background-color: darkorange;}
                              .button5{ position:absolute;
                                top:145%;
                                left:44%;    
                                padding: 0;
                                box-sizing: border-box;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color:#FA9C04;
                                border: none;
                                border-radius: 50px;
                                padding: 15px 40px;
                                cursor: pointer;
                                transition: background-color 0.2s ease;}
                                .button5 span{color: white;
                                    margin-right: 10px;
                                    font-size: 18px;
                                  font-weight: 600; }
                                  .button5:hover {
                                    background-color: darkorange;}
                             .button6{ position:absolute;
                              top:145%;
                              left:78%; 
                              padding: 0;
                                box-sizing: border-box;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color:#FA9C04;
                                border: none;
                                border-radius: 50px;
                                padding: 15px 40px;
                                cursor: pointer;
                                transition: background-color 0.2s ease;}
                                .button6 span{color: white;
                                    margin-right: 10px;
                                    font-size: 18px;
                                  font-weight: 600; }
                                  .button6:hover {
                                    background-color: darkorange;}
                              
   .footer{
    padding-top: 4px;
    background-color: #E8E8E8;
  margin-top: 70px;
  font-size: 10px;
  font-weight: 100;
  padding-bottom: 4px;
  }
  .info{display: flex;}
  .home{
    margin-left:5px;
    width: 25px;}
    .call{
      margin-left:50px;
      width: 21px;}
      .copy{ margin-left:50px;
        margin-top: 0px;
      line-height: 20px;}
   
